section {
  padding: 50px 0;
}

.area {
  width: 1200px;
  margin: 0 auto;
}

.intro-area {
  background: #e7e7e7;
  background: -moz-linear-gradient(top, #e7e7e7 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #e7e7e7 0%,#ffffff 100%);
  background: linear-gradient(to bottom, #e7e7e7 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#ffffff',GradientType=0 );
}

.brand {
  display: flex;
  align-items: center;
  width: 220px;
  text-decoration: none;
  color: #21232a;
}

.brand span {
  font-size: 28px;
  font-weight: 900;
  margin-top: 3px;
  margin-left: 10px;
}

.brand .logo {
  width: 50px;
}

.intro {
  padding: 120px 20px;
}

.intro h2 {
  font-size: 52px;
  margin-bottom: 5px;
}

.intro p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.search-area {
  margin-top: 15px;
}

.search-area input {
  display: block;
  width: 44%;
  border: solid 1px #e7e7e7;
  padding: 12px 15px;
  font-size: 18px;
  border-radius: 4px;
}

.search-area span {
  display: inline-block;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 3px;
  margin-top: 5px;
}

.search-fav-area {
  margin-top: -100px;
}

.search-fav-area h3 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 20px;
}

.search-fav-area ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}

.search-fav-area ul .no-result {
  width: 100%;
  display: block;
  padding: 33px 0;
  text-align: center;
}

.search-fav-area ul .no-result a {
  background: #40a5c1;
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  padding: 10px 15px;
  border-radius: 4px;
}

.search-fav-area ul li {
  display: flex;
  align-items: center;
  background: #fff;
  border: solid 1px #e7e7e7;
  width: calc(100%/3 - 30px);
  padding: 25px 30px;
  margin: 0 15px;
  border-radius: 4px;
  font-size: 18px;
}

.search-fav-area ul li img {
  width: 30px;
  margin: 0 auto;
  margin-right: 0;
}

p.no-fav-post {
  padding: 40px 0;
  margin: 0 auto;
}

.loader>div {
  margin: 0 auto;
}

.section-title {
  margin-bottom: 25px;
}

.section-title h3 {
  text-align: center;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
}

.section-title span {
  display: block;
  text-align: center;
  margin: 10px 0;
}

.section-title img {
  width: 45px;
}

.series {
  margin-bottom: 60px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list li {
  position: relative;
  width: calc(100%/3 - 30px);
  border: solid 1px #e7e7e7;
  padding: 30px 25px;
  margin: 0 15px;
  margin-bottom: 30px;
  border-radius: 4px;
}

li h4 a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

.list li img {
  position: absolute;
  width: 45px;
  right: -27px;
  top: 12px;
}

.list li:last-child img {
  display: none;
}

.list li:nth-child(3n) img {
  display: none;
}

.navbar-post-area {
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.navbar-post-area>div {
  flex-basis: 50%;
}

.feedback {
  text-align: right;
}

.btn-problem {
  color: #fff;
  background: #F44336;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  padding: 5px 20px;
  border-radius: 4px;
}

.content-area .title {
  font-size: 48px;
  width: 1020px;
  margin: 0 auto;
  padding-bottom: 25px;
}

.content-area .content section {
  padding: 0;
}

.content-area .content p,
.section-divider {
  width: 1020px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 24px;
  line-height: 1.7;
  margin: 0 auto;
}

.content-area hr {
  margin: 60px 0;
  border: solid 0.3px rgba(0, 0, 0, 0.1);
}

.content-area pre {
  font-family: monospace;
  background: #f2f2f2;
  width: 1020px;
  margin: 25px auto;
  padding: 25px;
  font-size: 18px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  overflow-x: auto;
}

.content-area .content figure {
  text-align: center;
  margin: 25px 0;
}

.content-area .content figcaption {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.content-area .content code {
  background: #f2f2f2;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 20px;
}

.content-area .content iframe {
  margin: 25px 0;
}

.content-area .content a {
  text-decoration: none;
  color: #333;
  border-bottom: dashed 1px #333;
}

.shortcode_wysija {
  display: none;
}

.action-button-area {
  display: flex;
  width: 1020px;
  margin: 25px auto;
}

.read,
.favorite {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.read, .favorite {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

.read img,
.favorite img {
  width: 45px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  height: 45px;
  text-align: center;
  line-height: 30px;
  padding: 10px;
  border-radius: 100%;
  margin-right: 10px;
}

.read.on-read img,
.favorite.on-favorite img {
    background: rgba(0, 0, 0, 0.2);
    filter: grayscale(0);
}

.comment-area {
  width: 1020px;
  margin: 0 auto;
}

.footer-area {
  padding: 100px 0;
  background: #e7e7e7;
  background: linear-gradient(to top, #e7e7e7 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#ffffff',GradientType=0 );
}

.footer {
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
  flex: 1;
}

.footer>* {
  width: calc(100% / 3 - 20px);
  margin: 0 10px;
}

.footer ul li {
  margin: 15px 0;
}

.footer p {
  line-height: 1.8;
}

.footer .title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 15px;
}

.footer .resource {
  display: flex;
  flex-wrap: wrap;
}

.footer .resource>* {
  width: calc(100% / 2);
}

.footer .credit {
    align-self: center;
}

.footer .credit .love {
  color: #F44336;
}

.footer a {
  text-decoration: none;
  color: #333;
  border-bottom: dashed 1px #333;
}

.footer .credit a {
  background: #333;
  padding: 1px 10px;
  border-radius: 4px;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .area {
    width: 960px
  }

  .navbar-post-area {
    width: 960px;
  }

  .content-area {
    width: 960px;
    margin: 0 auto;
  }

  .content-area .title,
  .content-area .content p,
  .section-divider,
  .content-area pre,
  .action-button-area,
  .comment-area {
    width: unset;
  }
}

@media only screen and (max-width: 992px) {
  .area {
    width: 100%;
    padding: 0 30px;
  }

  .search-area input {
    width: 70%;
  }

  .search-fav-area ul li {
    margin: 15px;
    width: calc(100%/2 - 30px);
  }

  .list li {
    width: calc(100%/2 - 30px);
  }

  .list li:nth-child(3n) img {
    display: inherit;
  }

  .list li:nth-child(2n) img {
    display: none;
  }

  .navbar-post-area,
  .content-area {
    width: calc(100% - 50px);
    margin: 0 25px;
  }

  .content-area img {
    max-width: 100%;
  }

  .footer>* {
    width: calc(100% / 1 - 20px);
  }

  .footer .credit {
    text-align: center;
    margin-top: 25px;
  }

  @media only screen and (max-width: 660px) {
    section {
      padding: 30px 0;
    }

    .area {
      padding: 0 15px;
    }

    .brand, .search-area input {
      margin: 0 auto;
    }

    .intro-area {
      text-align: center;
    }

    .intro h2 {
      font-size: 38px;
    }

    .intro p {
      font-size: 18px;
    }

    .search-area input {
      width: 100%;
      font-size: 14px;
    }

    .search-area span {
      font-size: 12px;
    }

    .search-fav-area ul li,
    .list li {
      flex-basis: 100%;
    }

    .series {
      margin-bottom: 0;
    }

    .list li h4 {
      text-align: center;
    }

    .list li img {
      top: unset;
      bottom: -30px;
      transform: rotate(90deg);
      right: calc(50% - 45px/2);
    }

    .list li:nth-child(2n) img {
      display: inherit;
    }

    .list li:last-child img {
      display: none;
    }

    .navbar-post-area {
      text-align: center;
    }

    .navbar-post-area>div {
      flex-basis: 100%;
    }

    .feedback {
      display: none;
    }

    .action-button-area {
      margin: 0 0;
    }

    .footer {
      text-align: center;
    }

    .footer .resource>* {
      width: 100%;
    }

    .footer-area {
      padding: 30px 0;
    }
  }
}
