body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Kalpurush", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Kalpurush';
  src: local('Kalpurush.eot'), url(./fonts/Kalpurush.eot);
  src: local('Kalpurush.woff'), url(./fonts/Kalpurush.woff) format('woff'),
       local('Kalpurush.ttf'), url(./fonts/Kalpurush.ttf) format('truetype'),
       local('Kalpurush.svg'), url(./fonts/Kalpurush.svg#Kalpurush) format('svg'),
       local('Kalpurush.eot'), url(./fonts/Kalpurush.eot?#iefix) format('embedded-opentype');
  font-style: normal;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
